body {
  min-width: 350px;
  margin: 0 0 20px 0;
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.buttons a {
  display: block;
  margin: 0;
  padding: 10px 40px;
  color: #757575;
  text-decoration: none;
  font-size: 14px;
}

.buttons a:focus {
  outline: none;
}

.buttons a:hover {
  outline: none;
  background-color: #e0e0e0
}

.section {
  // border-bottom: solid 1px #2196F3;
  // margin-bottom: 5px;
}
.section:last-of-type {
  border-bottom: none;
}

#status_text {
  margin: 0;
  padding: 16px 40px;
  background: #607d8b;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

#status_text.blue {
  background: #2196F3;
}

#status_text.yellow {
  background: #ff9800;
}

#status_text.red {
  background: #f44336;
}

#status_container {
  margin-bottom: 10px;
}

form {
  margin: 0;
  padding: 0 40px;
}

form label {
  display: block;
  font-size: 11px;
  color: #757575;
  padding: 10px 0;
}

form input[type=number] {
  border: none;
  border-bottom: 1px solid #2196F3;
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: 40px;
  background: 0 0;
  text-align: left;
  color: #757575;
  box-sizing: border-box;
}

form input[type=number]:focus {
  outline: none;
  border-bottom: 2px solid #2196F3;
}

form small {
  display: block;
  margin: 5px 0;
  padding: 0;
  color: #757575;
}
