
body.dark-mode {
  color: #eee;
  background-color: #333;
}

.dark-mode .header {
  background: url(../img/icon-white-48.png) 10px 10px no-repeat;
  background-color: #2196F3;
  color: #eee;
}



.dark-mode .container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.24),
              0 3px 1px -2px rgba(0,0,0,.29),
              0 1px 5px 0 rgba(0,0,0,.17);
  background: #333;
  border: 1px solid hsl(207, 50%, 24%);
}


.dark-mode form a.shortcuts {
  color: #2196f3;
}

.dark-mode form input[type=number] {
  border-bottom: 1px solid #00BCD4;
}

.dark-mode form input[type=number]:focus {
  border-bottom: 2px solid #00BCD4;
}

.dark-mode form textarea {
  border-bottom: 1px solid #00BCD4;
}

.dark-mode form textarea:focus {
  border-bottom: 2px solid #00BCD4;
}

.dark-mode form button {
  background: #2196F3;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  color: #eee;
}

.dark-mode .infobox {
  color: #aaa;
}