body.dark-mode {
    background-color: #333;
}
.dark-mode .title {
  background-color: #333;
  color: #eee;
    border-bottom: 1px solid #555;
}

.dark-mode .title .icon {
  background: none;
}

.dark-mode .title .description {
  color: #eee;
}

.dark-mode .title .url {
  color: #2196F3;
}

.dark-mode .suspend-message {
  color: #eee;
}