body.dark-mode {
  background-color: #333;
}

.dark-mode .buttons a {
  color: #eee;
}

.dark-mode .buttons a:hover {
  background-color: #555
}

.dark-mode #status_text {
  background: #555;
  color: #eee;
}

.dark-mode #status_text.blue {
  background: #0078d8;
}

.dark-mode #status_text.yellow {
  background: #b16900;
}

.dark-mode #status_text.red {
  background: #a70b00;
}

.dark-mode #status_container {
}

.dark-mode form label {
  color: #ccc;
}

.dark-mode form input[type=number] {
  border-bottom: 1px solid #2196F3;
  color: #ccc;
}

.dark-mode form input[type=number]:focus {
  border-bottom: 2px solid #2196F3;
}

.dark-mode form small {
  color: #ccc;
}


.dark-mode .section .bottom-status {
  color: #ccc;
}

.dark-mode .section .bottom-status.red {
  color: red;
}
